body {
    font-family: 'Courier New', Courier, monospace;
    margin: 0;
    background-color: black;
    height: 100%;
    display: grid;
    place-items: center;
    text-align: center;
    color: white;
    overflow: hidden;
}

h2 {
    margin-bottom: 20px;
    color: white;
    font-family: 'Courier New', Courier, monospace;
}

.hover-container {
    position: relative;
    display: inline-block;
    cursor: pointer;
    padding: 10px;
    margin: 10px;
    color: white;
    transition: transform 0.5s, opacity 0.5s;
    border: .25em solid var(--glow-color);
    padding: 1em 3em;
    font-size: 15px;
    font-weight: bold;
    background-color: var(--btn-color);
    border-radius: 1em;
    outline: none;
    box-shadow: 0 0 1em .25em var(--glow-color),
                0 0 4em 1em var(--glow-spread-color),
                inset 0 0 .75em .25em var(--glow-color);
    text-shadow: 0 0 .5em var(--glow-color);
    transition: all 0.3s;
    top:500%;
}

.hover-container::after {
    content: "";
    position: absolute;
    top: 50%;
    left: 100%;
    transform: translateY(-50%);
    border-width: 10px;
    border-style: solid;
    z-index: 2;
    opacity: 0;
    transition: opacity 0.3s, transform 0.5s;
}

#container1 {
    --glow-color: red;
    --glow-spread-color: rgba(255, 0, 0, 0.781);
    --enhanced-glow-color: rgb(255, 200, 200);
    --btn-color: rgb(136, 30, 30);
}

#container1::after {
    border-color: transparent red transparent transparent;
}

#container2 {
    --glow-color: orange;
    --glow-spread-color: rgba(255, 165, 0, 0.781);
    --enhanced-glow-color: rgb(255, 228, 196);
    --btn-color: rgb(255, 140, 0);
}

#container2::after {
    border-color: transparent orange transparent transparent;
}

#container3 {
    --glow-color: purple;
    --glow-spread-color: rgba(128, 0, 128, 0.781);
    --enhanced-glow-color: rgb(216, 191, 216);
    --btn-color: rgb(75, 0, 130);
}

#container3::after {
    border-color: transparent purple transparent transparent;
}

#container4 {
    --glow-color: rgb(201, 181, 201);
    --glow-spread-color: rgba(212, 200, 212, 0.781);
    --enhanced-glow-color: rgb(216, 191, 216);
    --btn-color: rgb(189, 160, 209);

}
#container4::after {
    border-color: transparent grey transparent transparent;
}

.hover-container:hover::after {
    opacity: 1;
}

.hover-text {
    visibility: hidden;
    width: 550px;
    color: white;
    text-align: center;
    border-radius: 4px;
    padding: 10px;
    position: absolute;
    z-index: 4;
    top: 50%;
    left: 130%;
    transform: translateY(-50%) translateX(40px);
    opacity: 0;
    transition: transform 0.5s, opacity 0.5s;
    font-family: sans-serif;
    border: .25em solid var(--glow-color);
    font-size: 15px;
    font-weight: bold;
    background-color: var(--btn-color);
    border-radius: 1em;
    outline: none;
    box-shadow: 0 0 1em .25em var(--glow-color),
                0 0 4em 1em var(--glow-spread-color),
                inset 0 0 .75em .25em var(--glow-color);
    text-shadow: 0 0 .5em var(--glow-color);
    transition: all 0.3s;
}

.hover-container:hover .hover-text {
    visibility: visible;
    opacity: 1;
    transform: translateY(-50%) translateX(0);
}

/* Targeting even containers to display hover text on the left */
.hover-container:nth-of-type(even) .hover-text {
    left: auto;
    right: 130%;
    transform: translateY(-50%) translateX(-40px);
}

.hover-container:nth-of-type(even)::after {
    left: auto;
    right: 115%;
    border-color: transparent transparent transparent var(--glow-color);
}

.Car-Image-container {
    top: 5%;
    right: 0;
    position: absolute;
}

.Car-Image-container img {
    width: 300px;
    height: auto;
}

.Tornado-Image-container {
    top: 5%;
    left: 0;
    position: absolute;
}

.Tornado-Image-container img {
    width: 300px;
    height: auto;
}
