body {
    font-family: 'Courier New', Courier, monospace;
    margin: 0;
    background-color: black;
    height: 100%; /* Use 100% height for body */
    display: grid;
    place-items: center;
    text-align: center;
    color: white;
    overflow: hidden;
}

h2 {
    margin-bottom: 20px;
    top: 30%;
    position: absolute;
    color: white;
    font-family: 'Courier New', Courier, monospace;
}

.hover-container {
    position: absolute;
    display: inline-block;
    cursor: pointer;
    padding: 10px;
    border-radius: 10px;
    margin: 10px;
    color: white;
    transition: transform 0.5s, opacity 0.5s;
}



.hover-container:nth-child(2) {
    background-color: orange;
    top: 35%;
    left: 50%;
    transform: translateX(-50%);
    z-index: 3; /* Increase z-index to be above red container */
}

.hover-container:nth-child(3) {
    background-color: purple;
    bottom: 110px;
    right: 20%;
}

.hover-container:nth-child(4) {
    background-color: darkcyan;
    bottom: 110px;
    left: 13%;
}

.hover-container:nth-child(5) {
    background-color: red;
    top: 55%;
    left: 50%;
    transform: translateY(-50%);
    z-index:1;
    /*change here for position styling*/
}

.hover-container::after {
    content: "";
    position: absolute;
    top: calc(50% - 10px);
    left: calc(100% + 5px);
    border-width: 10px;
    border-style: solid;
    z-index: 2;
    opacity: 0;
    transition: opacity 0.3s, transform 0.5s;
}

.hover-container:hover::after {
    opacity: 1;
}

.hover-text {
    visibility: hidden;
    width: 320px;
    color: #fff;
    text-align: center;
    border-radius: 4px;
    padding: 10px;
    position: absolute;
    z-index: 4;
    top: calc(50% - 10px);
    left: calc(100% + 30px);
    opacity: 0;
    transform: translateX(100%);
    transition: transform 0.5s, opacity 0.5s;
    font-family: sans-serif;
}

.hover-container:nth-child(1) .hover-text {
    background-color: red;
}

.hover-container:nth-child(1)::after {
    border-color: transparent red transparent transparent;
}

.hover-container:nth-child(2) .hover-text {
    background-color: orange;
    z-index: 4;
    margin-bottom: 10px;
}

.hover-container:nth-child(2)::after {
    border-color: transparent orange transparent transparent;
}

.hover-container:nth-child(3) .hover-text {
    background-color: purple;
    left: auto;
    right: calc(100% + 30px);
    transform: translateX(-100%);
}

.hover-container:nth-child(3)::after {
    left: auto;
    right: calc(100% + 5px);
    border-color: transparent transparent transparent purple;
}

.hover-container:nth-child(4) .hover-text {
    background-color: darkcyan;
}

.hover-container:nth-child(4)::after {
    border-color: transparent darkcyan transparent transparent;
}

.hover-container:nth-child(5) .hover-text {
    background-color: red;
    z-index: 3;
}

.hover-container:nth-child(5)::after {
    border-color: transparent red transparent transparent;
}

.hover-container:hover .hover-text {
    visibility: visible;
    opacity: 1;
    transform: translateX(0);
}

.Car-Image-container {
    top: 5%;
    right: 0%;
    position: absolute;
}

.Car-Image-container img {
    width: 300px;
    height: auto;
}

.Tornado-Image-container {
    top: 5%;
    left: 0%;
    position: absolute;
}

.Tornado-Image-container img {
    width: 300px;
    height: auto;
}
